.home {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-bottom: 40px;
}

.itemsGrid {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  gap: 32px;
  padding: 32px;
  margin-bottom: 16px;
}

.loadMoreBtn {
  width: 200px;
  margin: auto;
  height: 48px;
  font-size: 24px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 24px;
  cursor: pointer;
}
